h1, h2, h3, h4 {
	font-weight: normal;
	margin-bottom:1em;
}
h1 {
	background:#fff;
	color: #003d4c;
	font-size: 100%;
}
h2 {
	background:#fff;
	color: #e32;
	font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
	font-size: 190%;
}
/** Scaffold View **/
dl {
	line-height: 2em;
	margin: 0em 0em;
	width: 100%;
	background: #f4f4f4;
}
 
dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
	width: 40em;
}
dd {
	margin-left: 32em;
	margin-top: -2em;
	vertical-align: top;
	width: 10em;
}
#content{
	background: #fff;
	clear: both;
	color: #333;
	padding: 10px 60px 40px 60px;
	overflow: auto;
}