<div class="detailsServicesToCaffes index">
    <h2><?php echo __('Detalles de orden de servicio'); ?></h2>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th><?php echo $this->Paginator->sort('ID'); ?></th>
                <th><?php echo $this->Paginator->sort('Fecha de Creación'); ?></th>
                <th><?php echo $this->Paginator->sort('Fecha de Cierre'); ?></th>
                <th><?php echo $this->Paginator->sort('img_letter'); ?></th>
                <th class="actions"><?php echo __('Actions'); ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($servicesOrders as $servicesOrder): ?>
                <tr>
                    <td><?php echo h($servicesOrder['DetailsServicesToCaffe']['id']); ?>&nbsp;</td>
                    <td><?php echo h($servicesOrder['DetailsServicesToCaffe']['created_date']); ?>&nbsp;</td>
                    <td><?php echo h($servicesOrder['DetailsServicesToCaffe']['closed_date']); ?>&nbsp;</td>
                    <td><?php echo h($servicesOrder['DetailsServicesToCaffe']['img_letter']); ?>&nbsp;</td>
                    <td class="actions">
                        <?php echo $this->Html->link(__('View'), array('action' => 'view', $servicesOrder['DetailsServicesToCaffe']['id'])); ?>
                        <?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $servicesOrder['DetailsServicesToCaffe']['id'])); ?>
                        <?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $servicesOrder['DetailsServicesToCaffe']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $servicesOrder['DetailsServicesToCaffe']['id']))); ?>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <p>
        <?php
        echo $this->Paginator->counter(array(
            'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
        ));
        ?>	</p>
    <div class="paging">
        <?php
        echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
        echo $this->Paginator->numbers(array('separator' => ''));
        echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
        ?>
    </div>
</div>
<div class="actions">
    <h3><?php echo __('Actions'); ?></h3>
    <ul>
        <li><?php echo $this->Html->link(__('New Services Order'), array('action' => 'add')); ?></li>
    </ul>
</div>
