<div class="users index">
    <h2><?php echo __(''); ?></h2>
    <table cellpadding="0" cellspacing="0">
        <?php echo $this->Html->image('backgroud.png', array('alt' => 'CakePHP')); ?>
        <h2 style="margin-left: 20%; font-size: 18px"><i>"Ingreso de café, Novedades, Trazabilidades, Conexos, Embalaje de Café, Tarja de contendores"</i></h2>
    </table>
    <p><p>

</div>
<div class="actions vertical-menu">
    <h3><?php echo __('Menú'); ?></h3>
    <ul>
        <li><?php echo $this->Html->link(__('1.RAINGCAFE - IN'), array('controller' => 'RemittancesCaffees', 'action' => 'add')); ?> </li>
        <li><?php //echo $this->Html->link(__('2.INSPECCIONES'), array('controller' => 'VehiculeInspections', 'action' => 'index')); ?> </li>
        <li><?php echo $this->Html->link(__('3.TRAZACAFE - IN'), array('controller' => 'OperationTrackings', 'action' => 'index',1)); ?> </li>
	<li><?php echo $this->Html->link(__('6.INFONAVI - OUT'), array('controller' => 'InfoNavies', 'action' => 'index')); ?> </li>
        <li><?php 
        if($this->Session->read('User.opera') == 1)
            echo $this->Html->link(__('4.PROGRACAFE- OUT'), array('controller' => 'PackagingCaffees', 'action' => 'allOie')); ?> </li>
        <li><?php echo $this->Html->link(__('5.TARJACAFE - OUT'), array('controller' => 'PackagingCaffees', 'action' => 'index')); ?> </li>
	<li><?php 
        if($this->Session->read('User.opera') == 1 || $this->Session->read('User.opera') == 8)
           echo $this->Html->link(__('7.SERVICIOS - IN'), array('controller' => 'ServicesOrders', 'action' => 'index')); ?> </li>
        <li><?php echo $this->Html->link(__('8.SUMINISTROS'), array('controller' => 'supplies', 'action' => 'index')); ?> </li>
	<li><?php 
	  echo $this->Html->link(__('9.MUESTREO - IN'), array('controller' => 'CoffeeSamples', 'action' => 'index',1)); ?> </li>
        
        <li><?php echo $this->Html->link(__('10. BODEGAS'), array('controller' => 'SlotStores', 'action' => 'slotDisabled' )); ?></li>
	<li><?php echo $this->Html->link(__('11.DEVOLUCIÓN'), array('controller' => 'ReturnsCaffees', 'action' => 'add' )); ?></li>
        <li><?php echo $this->Html->link(__('12.CLIENTES'), array('controller' => 'Clients', 'action' => 'index' )); ?></li>
        <BR>
        <li><?php echo $this->Html->link(__('13.SALIR'), array('controller' => 'users', 'action' => 'logout', $this->Session->read('User.id'))); ?></li>
    </ul>
</div>
