<div class="users index">
	<h2><?php echo __(''); ?></h2>
	<table cellpadding="0" cellspacing="0">
	  <?php echo $this->Html->image('backgroud.png', array('alt' => 'CakePHP'));?>
          <h2 style="margin-left: 40%; font-size: 18px"><i>"Consulta de ingreso de café, repesos, papeleta de descargue de café"</i></h2>
	</table>
        <p><p>

</div>
<div class="actions">
	<h3><?php echo __('Menú'); ?></h3>
	<ul>
		 <li><?php echo $this->Html->link(__('1.VERICAFE'), array('controller' => 'RemittancesCaffees', 'action' => 'index')); ?> </li>
                <li><?php echo $this->Html->link(__('2.SALIR'), array('controller' => 'users', 'action' => 'logout', $this->Session->read('User.id'))); ?></li>
	</ul>
</div>
