<div class="users index">
	<h2><?php echo __(''); ?></h2>
	<table cellpadding="0" cellspacing="0">
	  <h2><?php echo __('Centro de Información de Embalaje'); ?></h2>
	  <h3><?php echo __('Proceso de consulta de tarjas electronicas para Agentes Navieros'); ?></h3>
	</table>
        <p><p>

</div>
<div class="actions">
	<h3><?php echo __('Menú'); ?></h3>
	<ul>
		<li><?php //echo $this->Html->link(__('By Motor Ship'), array('controller' => 'Embalajes', 'action' => 'findmotorship')); ?> </li>
		<li><?php //echo $this->Html->link(__('By Shipping Line'), array('controller' => 'Embalajes', 'action' => 'findshippingline')); ?> </li>
		<li><?php echo $this->Html->link(__('BIC CTN'), array('controller' => 'TallyPackagings', 'action' => 'findbybicctn')); ?> </li>
		<li><?php echo $this->Html->link(__('LOTE CAFE'), array('controller' => 'Embalajes', 'action' => 'findbylotcaffee')); ?> </li>
		<li><?php echo $this->Html->link(__('LISTADO TARJAS'), array('controller' => 'TallyExpos', 'action' => 'index')); ?> </li>
                <li><?php echo $this->Html->link(__('Salir'), array('controller' => 'users', 'action' => 'logout', $this->Session->read('User.id'))); ?></li>
	</ul>
</div>
